@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Old Standard TT', serif;
}

body {
  background-color: #673a87;
  opacity: 0.9;
  background-image:  radial-gradient(#c19c3e 2px, transparent 2px), radial-gradient(#c19c3e 2px, #673a87 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px 0;
    background-color: #f7f7f7;
    
  }
  
  .about-header h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .about-header p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .about-skills h3,
  .about-philosophy h3,
  .about-journey h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-skills p,
  .about-philosophy p,
  .about-journey p {
    font-size: 16px;
    line-height: 1.6;
  }

  .carousel {
    max-height: 2491px; /* Set the maximum height you want for the carousel */
  }
  